* {
  background-color: #eff8f3;
}

#content {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #1f567a;
  width: 80%;
  margin: 0 auto;
}

header h4 {
  text-align: justify;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

img {
  width: 300px;
  height: auto;
}
